a {
    text-decoration:none;
}

#hero-blog {
    max-width: 740px;
    padding-top: 48px;
    padding-bottom: 56px;
    text-align: left;
    margin: auto;
}

#hero-preview {
    max-width: 740px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: left;
    margin: auto;
}

#post-box-preview {
    max-width: 740px;
    margin: auto;
    border-bottom: 3px solid #35beb1;
}