{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
  <div id="hero">
    <h2>每周精选</h2>
    <p>选出每周阅读后认为最好的5篇好文。</p>
  </div>
  <div id="components">
    <div class="row gutters">
      {{ range .Data.Pages.ByWeight}}
      <div class="col col-4 item">
        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        <p>{{ .Params.description }}</p>
      </div>
      {{ end }}

    </div>

  </div>
</div>
{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}