  <footer id="footer">
    <nav>
      <ul>
        <li><span>Bugjc</span></li>
        <li>
          <a href="/blog/">博客</a>
        </li>
        <li>
          <a href="/data">资料归档
          </a>
        </li>
          <li>
          <a href="/about/">关于</a>
        </li>
        <!-- <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Give a shout-out on Twitter!</a>
        </li> -->
      </ul>
    </nav>
    <p>Copyright © Bugjc 2018 <a href="https://beian.miit.gov.cn">粤ICP备15106335号</a></p>
  </footer>